<div class="container working">
  <h1>pets losts</h1>


  <ul style="list-style: none;"><% @pets.each do |pet| %>
    <li><%= pet.name %> (<strong><%= link_to pet.species, pet_path(pet), class: 'text-decoration-none' %></strong>)</li>
      <% end %>
  </ul>

  <%= link_to 'Find A Pet', new_pet_path, class: 'btn btn-flat' %> <br>
  <%= link_to 'Home Page', root_path, class: 'btn btn-flat mt-3' %>

</div>
